.main-content {
    margin-left: 100px;
    width: calc(100% - 100px);
    transition: margin-left 300ms;
}

@media only screen and (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%;
    }

}